{
  "$schema": "https://json.schemastore.org/eslintrc",
  "root": true,
  "extends": ["prettier", "eslint:recommended"],
  "plugins": ["prettier"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser"
    }
  ]
}