{
  "$schema": "https://json.schemastore.org/eslintrc",
  "root": true,
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:tailwindcss/recommended",
  ],
  "plugins": ["tailwindcss"],
  "rules": {
    "tailwindcss/no-custom-classname": "off",
    "tailwindcss/classnames-order": "error",
  },
  "settings": {
    "tailwindcss": {
      "callees": ["cn", "cva", "tv"],
    },
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
    },
  ],
}
